//Colors
$light-blue: #464b5e;
$white: #FFFFFF;
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$purple: #8357c5;
$almost-white: #f6f6f6;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.6rem;
$xxl-size: 10rem;
$img-size: 20rem;
$mobile-img-size: 10rem;
$img-height: 50rem;
$mobile-version: 60rem;